<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="PATH"
		value="/tmp/logs" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss}#[%X{requestId}]-[%X{remoteAddr}]
				[%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>app.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>archived/debug.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="OFF"/>
	<logger name="org.apache.kafka.clients.producer.ProducerConfig" level="OFF"/>
	<logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="OFF"/>
	<logger name="org.apache.kafka.common.metrics.Metrics" level="OFF"/>
	<logger name="org.apache.kafka.common.utils.AppInfoParser" level="OFF"/>
	<logger name="org.apache.kafka.clients.Metadata" level="OFF"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
<!--		<appender-ref ref="FILE" />-->
	</root>

</configuration>
